@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    max-width: 90%;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-weight: 300;
    font-size: 80px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 70px;
}

.button {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-size: 40px;
    padding: 20px 30px;
    border: 4px solid #000;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background: #000;
    color: #fff;
}